button {
  width: 200px;
  height: 100px;
  background-color: aquamarine;
  color: darkgray;
  font-size: 30px;
  border: none;
  border-radius: 30px;
}

button:hover {
  background-color: aqua;
  color: aliceblue;
  cursor: pointer;
  transition: width 2s ease-in-out;
  width: 500px;
}

button:active {
  background-color: black;
  color: white;
  width: 500px;
}
input {
  color: white;
  width: 200px;
}
input:hover {
  width: 400px;
}
